<% include ./../layouts/layoutheader%>
<style>
  select::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select option:disabled {
    color: gray;
    font-weight: bold;
  }
</style>

<% include ./../partials/messages%>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Dashboard</a>
  </li>
  <li class="breadcrumb-item"><a href="/applyleave/list">Leave List</a></li>
  <li class="breadcrumb-item active"><a>Edit Leave</a></li>
  <li class="ml-auto" style="float: right;">
  <li class="breadcrumb-item "><a class="btn btn-sm btn-primary" href="/applyleave/list/" style="color: white;">Leave
      List </a>
  </li>
  </li>
</ol>

<div class="card mb-3">
  <div class="card-header">Update Apply Leave Form
    <a class="btn btn-sm btn-primary" href="/applyleave/add" style="color: white; float: right;">Add Leave </a>
    
  </div>
  <div class="card-body">
    <form method="post" action="/user/editLeave/<%=data.id%>" id="leaveapplyform">

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="leaveType">Leave Type *</label>
          <select name="leaveType" id="leaveType" class="form-control" required>
            <option value="" id="noneOption">Select the leave</option>
            <%ldd.forEach(day => {%>
            <option data-day='<%=day.number%>' id="<%=day.name%>" data-name='<%=day.name%>' value="<%=day.name%>"
              <%=(typeof data !='undefined')? (data.leave_type == day.name)?'selected':(data.leaveType == day.name)?'selected':'':''%>>
              <%=day.name%> leave
            </option>
            <%});%>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="fromDate">From Days*</label>
          <div class="input-group">
            <input type="date" class="form-control datepicker" name="fromDate" id="fromDate" required
              aria-describedby="fdate" value="<%=(typeof data !='undefined')? data.startDate||data.fromDate:''%>">
            <!-- <div class="input-group-append">
              <span class=" open-button" id="fdate"><button type="button"><i  class="fa fa-calendar"></i></button></span>
            </div>
          -->
          </div>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="toDate">To Days*</label>
          <div class="input-group">
            <input type="date" class="form-control datepicker " name="toDate" id="toDate" required
              aria-describedby="tdate" value="<%=(typeof data !='undefined')? data.endDate||data.toDate:''%>">
            <div class="input-group-append">
              <span class="input-group-text" id="tdate"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group col-md-2 col-sm-2 col-xs-12">
          <label for="leaveDay">Days*</label>
          <input type="number" class="form-control datepicker" id="leaveDay" name="leaveDay"
            placeholder="Enter leave day" step="1" min="1" max="100" value="0" required aria-describedby="leaveinfo"
            autocomplete="off" readonly value="value=" <%=(typeof data !='undefined')? data.leaveDay:''%>"">
          <small id="leaveinfo" class="form-text text-muted" style="color: red;font-weight:bolder;"></small>
        </div>
      </div>

      <div class="form-group">
        <label for="leaveReason">Reason for Leave *</label>
        <textarea class="form-control" name="leaveReason" id="leaveReason" aria-describedby="reason"
          placeholder="Reason for Leave in detail" rows="5"
          required><%=(typeof data !='undefined')? data.leave_reason||data.leaveReason:''%></textarea>
        <small id="reason" class="form-text text-muted">PS: Write exact reason</small>
      </div>
      <!--hidden style="display: none;"-->
      <div hidden style="display: none;" readonly>
        <input name="id" id="id" value="<%=(typeof data !='undefined')? data.id :''%>" readonly>
      </div>

    </form>
    <div class="text-center">
      <div class="btn-group p-1">
        <button type="submit" form="leaveapplyform" id="btnsubmit" class="btn btn-primary m-1">Confirm & Update
        </button>
        <button id="btnreset" type="reset" form="leaveapplyform" class="btn btn-secondary m-1">Reset</button>
        <button type="cancel" onclick="window.location.href = '/applyleave'" id="btnCancel"
          class="btn btn-danger m-1">Discard</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    initForm();
  });

  function diff_months(jdate, nowdt) {
    if (jdate.getFullYear() <= nowdt.getFullYear()) {
      var diff = (jdate.getTime() - nowdt.getTime()) / 1000;
      diff /= (60 * 60 * 24 * 7 * 4.4);
      diff = Math.abs(diff);
      return (diff > 6) ? true : false;
    } else {
      return false;
    }
  }
  // function initForm() {
  //   if ((!diff_months(new Date($('#userdate').val()), new Date()))) {
  //     $('#leaveType').children().filter(':not(#unpaid)', ':not(#noneOption)').attr('disabled', 'true');
  //   }
  //   if ($('#usergender').val() == 'male') $('#maternity').attr('disabled', 'true');
  //   if ($('#usergender').val() == 'female') $('#paternity').attr('disabled', 'true');
  // }
</script>


<script src="/js/leaveAdd.js"></script>

<% include ./../layouts/layoutfooter%>