<table class="table table-responsive-sm text-center " id="tblHoliday">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Day </th>
                <th scope="col">Date Range</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% allresult.forEach(function(holiday){%>
            <tr>
                <td><%= holiday.name%></td>
                <td><%= holiday.type%></td>
                <td><%= holiday.leaveDay%></td>
                <%if(holiday.todateformat != holiday.fromdateformat){%>
                <td><%= holiday.fromdateformat%>-<%= holiday.todateformat%></td>
                <%}else{%>
                <td><%= holiday.fromdateformat%> </td>
                <%}%>
                <td>
                    <div class="btn-group btn-group-justified mr-0">
                        <a href="/holiday/editholiday/<%=holiday.id%>" class="btn btn-warning btn-sm"><i
                        class="fa fa-pen"></i></a>
                        <a href="/holiday/deleteholiday/<%=holiday.id%>" class="btn btn-danger btn-sm"><i
                        class="fa fa-times"></i></a>
                    </div>
                </td>
            </tr>
            <%})%>
        </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#tblHoliday').DataTable();
    });
</script>