<table class="table table-sm" id="<%=status%>-table" class="listTable" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
  <%list.forEach(record => {%>
    <%if(record.status == status || status=='all'){%>
    <tr id="<%=record.id%>">
    <td><%=record.employee_name%></td>
    <td><%=record.leave__type%></td>
    <td><%=record.sDate%></td>
    <td><%=record.eDate%></td>
    <td id="<%=record.id%>_status"><%=record.status%></td>            
    <td class="btn-group-toggle btn-group-sm">     
    <button class="btn btn-info btnaccept" ><i class="fa fa-check"> Accept</i></button>
    <button class="btn btn-danger"><i class="fa fa-times"> Reject</i></button>
    <% if(record.status =='pending') {%>
      <a class="btn  btn-primary" style="color: white;" href="/applyleave/edit/<%=record.id%>?uid=<%=record.employee_id%>" ><i class="fa fa-pen"> Edit</i></a>
     <%}%>
    </td>
      </tr>   
      <%}%>       
<% });%>
  </tbody>
</table>