
<table class="table table-sm" id="<%=status%>-table" class="listTable"cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>From</th>
      <th>To</th>
      <th>Apply</th>
      <th>Option</th>
      <th>Leave Reason</th>
    </tr>
  </thead>
  <tbody>
  <%list.forEach(record => {%>
  <%if(record.status == status){%>
    <tr id="<%=record.id%>">
    <td><%=record.employee_name%></td>
    <td><%=record.leave_type%></td>
    <td><%=record.sDate%></td>
    <td><%=record.eDate%></td>
    <td><%=record.aDate%>, <%=record.aTime%></td>
    <td id="<%=record.id%>_status"><%=record.status%></td>            
    <td class="btn-group-toggle btn-group-sm"> 
      <textarea rows="2" cols="30" class="" readonly><%=record.leave_reason%></textarea>
      </td>
      </tr>      
      <%}%>    
<% });%>
  </tbody>         
  
</table>