
<table class="table table-sm" id="<%=status%>-table" class="listTable"cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Leave</th>
      <th>From</th>
      <th>To</th>
      <th>Apply</th>
      <th>Reason</th>      
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
  <%list.forEach(record => {%>
  <%if(record.status == status){%>
    <tr id="<%=record.id%>">
    <td><%=record.employee_name%></td>
    <td><%=record.leave_type%></td>
    <td><%=record.startDate%></td>
    <td><%=record.endDate%></td>
    <td><%=record.applyDate%>, <%=record.aTime%></td>
    <td class="btn-group-toggle btn-group-sm"> 
      <textarea rows="2" cols="30" class="" readonly> <%=(record.status =='reject')?record.reject_reason:record.leave_reason%></textarea>
      </td>
      <td id="<%=record.id%>_status"><%=(record.status =='reject')?'if reject then only':''%></td>            
      </tr>      
      <%}%>    
<% });%>
  </tbody>         
  
</table>