<div class="table-responsive-sm d-table-row">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% allresult.forEach(function(leave){%>
            <tr>
                <td><%= leave.name%></td>
                <td><%= leave.number%></td>
                <td><%= leave.description%></td>
                <td>
                    <form action="/leave/editleave/<%=leave.id%>">
                        <input class="btn btn-primary btn-sm" type="submit" value="Edit" /></input>
                    </form>
                </td>
                <td>
                    <form action="/leave/deleteleave/<%=leave.id%>">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete" /></input>
                    </form>
                </td>
            </tr>

            <%})%>
        </tbody>
    </table>
</div>