<% include ./../layouts/layoutheader%>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">holiday</li>
</ol>
<div class="row">
    <div class="col-md-6">
        <div>
            <% include ./allholidays.ejs%>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card ml-5" style="width: 25rem;">
            <div class="card-header">
                Edit Holidays
            </div>
            <div class="card-body">
                <form id="product-form" action="/leave/editholiday/<%=holiday.id%>" method="post">
                    <div class="form-group ">
                        <label for="inputGroupSelect01"></label>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name:</label>
                            <input type="text" name="name" value="<%=typeof holiday !="undefined" ? holiday.name : ''%>"
                                class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="name of the holiday event" required>
                        </div>
                        <div>

                            <div class="from-group box">
                                <select class="custom-select form-control" id="holidaytype" name="holidaypicker"
                                    value="<%=typeof holiday !="undefined" ? holiday.type : ''%>" required>
                                    <option value="">Choose holiday</option>

                                    <%types.forEach((holi)=>{%>
                                    <option value="<%=holi%>" <%if(holiday.type==holi){%> selected <%}%>>
                                        <%=holi%></option> <% })%> </select> </div> <div class="form-group"
                                        id="date_loader">
                                        <label for="date">Date:</label>
                                        <input type="date"
                                            data-date="<%=typeof holiday !='undefined' ? holiday.date : ''%>"
                                            id="date_id" name="date" class="form-control" required>

                            </div>

                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea class="form-control" cols="30" name="description" rows="5" id="description"
                                    value=""
                                    required><%=typeof holiday !="undefined" ? holiday.description : ''%></textarea>
                            </div>


                        </div>
                        <div class="justify-content-end">
                            <button type="submit" class="btn btn-primary float-left">Edit</button>
                            <a href="/leave/addholidays" type="submit" class="btn btn-danger float-right">Discard</a>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

</div>




<script>
    $(document).ready(function () {

        var now = getDate('today');
        var maxDate = getDate('maxdate') + '-' + '03' + '-' + '31';
        // $('#date_id').val(now)
        $('#date_id').attr('max', maxDate);
        $('#date_id').attr('min', now);

        var dateF = getdateFormat($('#date_id').data('date'));
        $('#date_id').val(dateF);



        function getDate(status) {
            var now = new Date();
            var month = (now.getMonth() + 1);
            var day = now.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = now.getFullYear() + '-' + month + '-' + day;
            if (status === "today") return today;
            if (status === "maxdate") return now.getFullYear() + 1;
            else '';
        }
        function getdateFormat(date) {
            var newDate = new Date(date);
            var month = (newDate.getMonth() + 1);
            var day = newDate.getDate();
            if (month < 10)
                month = "0" + month;
            if (day < 10)
                day = "0" + day;
            var today = newDate.getFullYear() + '-' + month + '-' + day;

            return today;
        }



    })






</script>

<% include ./../layouts/layoutfooter%>